# Export for private GitHub modules (go mod download in Docker)
export GOPRIVATE=github.com
export GITHUB_TOKEN=

APP_PORT=8009
APP_ENV=development
ALLOW_ORIGINS=http://localhost:3000,http://localhost:8080,http://127.0.0.1:3000,http://127.0.0.1:8080

USER_SERVICE_URL=http://host.docker.internal:8007
EVENT_SERVICE_URL=http://host.docker.internal:8010

TURNSTILE_SECRET_KEY=

AUTH_FINGERPRINT_COOKIE_DOMAIN=localhost
AUTH_FINGERPRINT_COOKIE_EXPIRATION_SEC=2592000
